@using Carnesia.Domain.CMS.ChildProduct
@inject IBase64 _base64


<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField @bind-Value="FormData.name" Label="Product Name" Variant="Variant.Text" Required="true" RequiredError="Product Name is required!" />
                <MudTextField @bind-Value="FormData.sku" Label="Product SKU" Variant="Variant.Text" Required="true" RequiredError="Product SKU is required!" />
                <MudNumericField @bind-Value="FormData.price" Label="Product Price" Min="1" Variant="Variant.Text" Required="true" RequiredError="Product Price is required!" />
                <MudNumericField @bind-Value="FormData.numbOfFreeProd" Label="Number Of Product" Min="1" Variant="Variant.Text" Required="true" RequiredError="Number of Product is                        required!" />
                <MudTextField @bind-Value="FormData.description" Label="Description" Variant="Variant.Text" Required="true" RequiredError="Description is required!" />

                <div class="mt-5">
                    <InputFile id="freeProduct" hidden OnChange="FreeProductImage" />

                    <MudButton HtmlTag="label"
                                Variant="Variant.Filled"
                                Color="Color.Primary"
                                StartIcon="@Icons.Filled.CloudUpload"
                                for="freeProduct">
                        Upload Free Product Image
                    </MudButton>
                </div>

                <MudText Color="Color.Error">@ImageError</MudText>

            @if (String.IsNullOrEmpty(ImageFile) == false)
            {
                <MudImage Src="@($"data:image/webp;base64,{ImageFile}")" Alt="" Elevation="25" Class="rounded-lg mx-3 mt-5" Style="width:100px;"/>
            }

                <div class="d-flex justify-end my-5">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="Submit">Submit</MudButton>
                </div>
        </MudForm>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public FreeProductDTO FormData{get;set;} = new FreeProductDTO();

    private string ImageFile { get; set; }
    //private string ImageName { get; set; }
    private string ImageError { get; set; }

    // Upload Free Product Image
    private async Task FreeProductImage(InputFileChangeEventArgs e)
    {
        ImageError = String.Empty;
        try
        {
            ImageFile = await _base64.ConvertToBase64(51200, 600, 600, e);

            FormData.base64Attch = await _base64.ConvertToBase64(51200, 600, 600, e);
            FormData.imageName = e.File.Name;
        }
        catch(Exception error)
        {
            ImageError = error.Message;
        }
    }

    // Add Free Product
    private void AddProduct()
    {
        if (String.IsNullOrEmpty(ImageFile))
        {
            ImageError = "Please Upload Free Product Image!";
            return;
        }

        

        Submit();
    }

    // Submit Close
    void Submit() => MudDialog.Close(DialogResult.Ok<FreeProductDTO>(FormData));

    // Form Ref
    bool success;
    string[] errors = { };
    MudForm form;
}
