@using Carnesia.Domain.CMS.Campaign
@inject IBase64 _base64

<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField @bind-Value="FormData.name" Label="Name" Immediate="true" Required="true" RequiredError="Name is required!"/>
                <MudTextField @bind-Value="FormData.url" Label="URL" Immediate="true"/>

                <InputFile id="banner-image" OnChange="@ValidateImage" hidden accept=".webp" />
                <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.CloudUpload" for="banner-image" Class="mt-5">
                    Upload Brand Image
                </MudButton>
                <MudText>475 * 280(Max 50Kb)</MudText>

                <br/>
                <MudText Color="Color.Error">@ImageError</MudText>
                <MudImage Src="@($"data:image/webp;base64,{FormData.base64Attch}")" Alt="" Elevation="25" Class="rounded-lg mt-5" Style="width:20%" />

                <div class="d-flex justify-end my-5">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="CreateOffer">Submit</MudButton>
                </div>
        </MudForm>
    </DialogContent>
</MudDialog>>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public AddCampaignBannerDTO FormData{get;set;} = new AddCampaignBannerDTO();

    // Form Ref
    bool success;
    string[] errors = { };
    MudForm form;

    // Image Error
    private string ImageError { get; set; }

    // Image Validation
    private async Task ValidateImage(InputFileChangeEventArgs ImageFile)
    {
        ImageError = String.Empty;
        try
        {
            FormData.base64Attch = await _base64.ConvertToBase64(153600, 100, 100, ImageFile);
        }
        catch(Exception e)
        {
            ImageError = e.Message;
        }
    }

    // Submit Close
    void Submit() => MudDialog.Close(DialogResult.Ok<AddCampaignBannerDTO>(FormData));

    // Create Banner
    private void CreateOffer()
    {
        if (String.IsNullOrEmpty(FormData.base64Attch))
        {
            ImageError = "Please upload an image!";
            return;
        }

        Submit();
    }
}