@page "/bulk-category-upload"
@using Carnesia.Domain.CMS.ChildProduct
@using Syncfusion.XlsIO
@using System.IO
@using System.Data
@inject Microsoft.JSInterop.IJSRuntime JS
@inject IChildProduct _childProduct
@inject ISnackbar Snackbar

<MudPaper Class="py-16 px-3 ma-2">
	<MudContainer Fixed="true">
		<div class="d-flex justify-center mb-5">
            <a href="./BulkCategories.xlsx" download target="_top">
			    <MudButton Class="me-3" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowDownward" Style="background-color: yellowgreen; color: white;">
                    Download CSV Template
                </MudButton>
            </a>

			<InputFile id="fileInput" hidden accept=".xlsx" OnChange="UploadFile"/>
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Filled.CloudUpload"
                       for="fileInput">
                Upload File
            </MudButton>
		</div>

        <MudTable Items="@Categories" Dense="true" >
            <HeaderContent>
                <MudTh>Product Code</MudTh>
                <MudTh>Parent Cat</MudTh>
                <MudTh>Child Cat</MudTh>
                <MudTh>Grandchild Cat</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Product Code">@context.productCode</MudTd>
                <MudTd DataLabel="Parent Cat">@context.parentCatId</MudTd>
                <MudTd DataLabel="Child Cat">@context.childCatId</MudTd>
                <MudTd DataLabel="Grandchild Cat">@context.gChildCatId</MudTd>
            </RowTemplate>
        </MudTable>

        <div class="d-flex justify-end mt-5">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateBulkCategories" Disabled="Categories.Count <= 0 ? true : false">Submit</MudButton>
        </div>

        @if (RejectedCategories.Count > 0)
        {
            <MudText>Rejected Categories</MudText>
            <MudTable Items="@RejectedCategories" Dense="true" >
                <HeaderContent>
                    <MudTh>Product Code</MudTh>
                    <MudTh>Parent Cat</MudTh>
                    <MudTh>Child Cat</MudTh>
                    <MudTh>Grandchild Cat</MudTh>
                    <MudTh>Description</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Product Code">@context.productCode</MudTd>
                    <MudTd DataLabel="Parent Cat">@context.parentCatId</MudTd>
                    <MudTd DataLabel="Child Cat">@context.childCatId</MudTd>
                    <MudTd DataLabel="Grandchild Cat">@context.gChildCatId</MudTd>
                    <MudTd DataLabel="Description">@context.description</MudTd>
                </RowTemplate>
            </MudTable>
            <div class="mb-5 d-flex justify-end">
                <MudButton StartIcon="@Icons.Filled.Download" Variant="Variant.Filled" Color="Color.Success" Disabled="RejectedCategories.Count > 0 ? false : true" OnClick="CreateDocument">Download XLSL</MudButton>
            </div>
        }
	</MudContainer>
</MudPaper>

@code {
    // Category List
    private List<BulkCategoryUploadDTO> Categories = new List<BulkCategoryUploadDTO>();
    private List<BulkCategoryUploadDTO> RejectedCategories = new List<BulkCategoryUploadDTO>();

    // Upload .xlsx
    private async Task UploadFile (InputFileChangeEventArgs e)
    {
        try
        {
            Categories.Clear();
            Categories =  await _childProduct.UploadXLSXFileForCategory(e);
        }
        catch (Exception)
        {
            Console.WriteLine("Error!");
            throw;
        }
    }

    // Create Bulk Images
    private async Task CreateBulkCategories()
    {
        try
        {
            RejectedCategories = await _childProduct.CreateBulkCategories(Categories);
            Snackbar.Add("Categories Added Successfully!", Severity.Success);
        }
        catch (Exception)
        {
            Snackbar.Add("Error", Severity.Error);
            throw;
        }
    }

    // Create Document
    private async Task CreateDocument()
    {
        using (ExcelEngine excelEngine = new ExcelEngine())
        {
            IApplication application = excelEngine.Excel;
            application.DefaultVersion = ExcelVersion.Xlsx;

            //Create a workbook.
            IWorkbook workbook = application.Workbooks.Create(1);
            IWorksheet worksheet = workbook.Worksheets[0];

            //Initialize DataTable and data get from SampleDataTable method.
            DataTable table = ParentDataTable();

            //Export data from DataTable to Excel worksheet.
            worksheet.ImportDataTable(table, true, 1, 1);

            worksheet.UsedRange.AutofitColumns();

            //Save the document as a stream and return the stream.
            using (MemoryStream stream = new MemoryStream())
            {
                //Save the created Excel document to MemoryStream
                workbook.SaveAs(stream);

                //Download the excel file.
                await JS.SaveAs("CategoryBulkError.xlsx", stream.ToArray());
            }
        }
    }

    private DataTable ParentDataTable()
    {
        DataTable reports = new DataTable();
        reports.Columns.Add("ProductCode");
        reports.Columns.Add("ParentCat", typeof(int));
        reports.Columns.Add("ChildCat", typeof(int));
        reports.Columns.Add("GrandChildCat", typeof(int));
        reports.Columns.Add("Description");

        foreach (var item in RejectedCategories)
        {
            reports.Rows.Add(item.productCode, item.parentCatId, item.childCatId, item.gChildCatId, item.description);
        }
        return reports;
    }
}
