@page "/home-carousel"

@using Carnesia.Domain.Common.POCO
@using Carnesia.Domain.CMS.HomeCarousel
@using Carnesia.Shared.CMS.HomeCarousel
@using Carnesia.Shared.CommonComponents
@inject IHomeCarousel _homeCarousel
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<MudPaper Class="pa-16 pt-10 ma-2">
	<MudContainer Fixed="true">
		<div class="d-flex justify-end mb-5">
			<MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.Add" Color="Color.Primary" OnClick="OpenCarouselModal">Add New Carousel</MudButton>
		</div>

		<MudTable Items="@Elements" Dense="@tableCommon.Dense" Hover="@tableCommon.Hover" Bordered="@tableCommon.Bordered" Striped="@tableCommon.Striped" Filter="new Func<HomeCarouselDTO,bool>(FilterFuncInitial)">
            <ToolBarContent>
                <MudSpacer />
                <MudSpacer />
                <MudTextField Immediate="true" @bind-Value="tableCommon.SearchTerm" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"/>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Name</MudTh>
                <MudTh>URL</MudTh>
                <MudTh>Image</MudTh>
                <MudTh>Publish</MudTh>
                <MudTh>Action</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@context.name</MudTd>
                <MudTd DataLabel="URL">@context.url</MudTd>
                <MudTd DataLabel="Image">
                    <MudImage @onclick="() => ShowImage(context.imagePath)" Src="@($"https://carnesiaapi.bespokeit.io/{context.imagePath}")" Alt="@context.name" Elevation="25" Class="rounded-lg" Style="width:100px" />
                </MudTd>
                <MudTd DataLabel="Publish">
                    <MudSwitch @bind-Checked="context.isPublish" Color="Color.Primary" @onclick="(() => PublishUnpublish(context.id)) " />
                </MudTd>
                <MudTd DataLabel="Action">
                    <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="() => DeleteCarousel(context.id)">Delete</MudButton>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

        <div class="d-flex flex-wrap mt-4">
            <MudSwitch @bind-Checked="@tableCommon.Hover" Color="Color.Primary">Hover</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Dense" Color="Color.Secondary">Dense</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Striped" Color="Color.Tertiary">Striped</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Bordered" Color="Color.Warning">Bordered</MudSwitch>
        </div>
	</MudContainer>
</MudPaper>

@code {
    // Page On Load
    protected override async Task OnInitializedAsync()
    {
        await GetCarousel();
    }

    // Table Customaization
    private TableCommon tableCommon = new TableCommon();

    // Table Content
    private IEnumerable<HomeCarouselDTO> Elements = new List<HomeCarouselDTO>();

    // Get Carousel
    private async Task GetCarousel()
    {
        Elements = await _homeCarousel.GetHomeCarousels();
    }

    // Publish Unpublish
    private async Task PublishUnpublish(int carouselId)
    {
        try
        {
            await _homeCarousel.ToggleCarousel(carouselId);
            Snackbar.Add("Carousel Successfully Toggled!", Severity.Success);
        }
        catch (Exception)
        {
            Snackbar.Add("Something Went Wrong!", Severity.Error);
        }
    }

	// Add Home Carousel Modal
    private async Task OpenCarouselModal()
    {
		var parameters = new DialogParameters();
        parameters.Add("FormData", new AddHomeCarouselDTO());

        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        var dialog = await DialogService.Show<AddHomeCarouselModal>("Add New Carousel", parameters, options).Result;

        if (dialog.Data != null)
        {
            AddHomeCarouselDTO newCarousel = dialog.Data as AddHomeCarouselDTO;

            try
            {
                await _homeCarousel.AddCarousel(newCarousel);
                Snackbar.Add("New Carousel Created Successfully!", Severity.Success);
                await GetCarousel();
            }
            catch (Exception)
            {
                Snackbar.Add("Something Went Wrong!", Severity.Error);
                throw;
            }
        }
    }

    // Delete Banner
    private async Task DeleteCarousel(int CarouselId)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        var dialog = await DialogService.Show<DeleteConfirmationModal>("Delete Confirmation", options).Result;

        if (!dialog.Cancelled)
        {
            try
            {
                await _homeCarousel.RemoveCarousel(CarouselId);
                Snackbar.Add("Carousel Deleted Successfully!", Severity.Success);
                await GetCarousel();
            }
            catch (Exception)
            {
                Snackbar.Add("Something Went Wrong!", Severity.Error);
                throw;
            }
        }
    }

    // Table Search
    private bool FilterFuncInitial(HomeCarouselDTO element) => FilterFunc(element, tableCommon.SearchTerm);

    private bool FilterFunc(HomeCarouselDTO element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.url.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    // Show Image
    private void ShowImage(string url)
    {
        var parameters = new DialogParameters();
        parameters.Add("ImageUrl", url);

        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        DialogService.Show<ShowImageModal>("Image", parameters, options);
    }
}
