@using Carnesia.Domain.WMS.PO.POCO
@inject IDialogService DialogService
@inject IPurchaseOrder _order
@inject IVendor _vendor

<MudPaper Class="pa-16 ma-2 mt-10" Elevation="1">
	<MudContainer Fixed="true">
		<MudGrid Class="justify-center align-baseline">
			<MudItem md="2">
				<MudTextField @bind-Value="filterInput.POID" Label="PO ID" Variant="Variant.Text" />
			</MudItem>
			<MudItem md="2">
				<MudAutocomplete T="string" Label="Supplier" @bind-Value="filterInput.Supplier" SearchFunc="@SupplierSearch" ResetValueOnEmptyText="@true"/>
			</MudItem>
			<MudItem md="2">
				<MudTextField @bind-Value="filterInput.Status" Label="Status" Variant="Variant.Text" />
			</MudItem>
			<MudItem md="2">
				<MudDateRangePicker Label="Date range" />
			</MudItem>
			<MudItem md="2">
				<div>
					<MudButton Variant="Variant.Filled" Color="Color.Primary">Filter</MudButton>
				</div>
			</MudItem>
		</MudGrid>

		@* <MudTable Class="mt-10" Items="@poList" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<POListPoco,bool>(FilterCycleCheck)"> *@
		<MudTable Class="mt-10" Items="@poList" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">
			<ToolBarContent>
				<MudSpacer />
				<MudSpacer />
				<MudTextField @bind-Value="searchTerm" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
			</ToolBarContent>
			<HeaderContent>
				<MudTh>Date</MudTh>
				<MudTh>PO ID</MudTh>
				<MudTh>Supplier</MudTh>
				<MudTh>Quantity</MudTh>
				<MudTh>Amount</MudTh>
				<MudTh>Status</MudTh>
				<MudTh>Status Updated On</MudTh>
				<MudTh>Action</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="Date">@context.orderDate</MudTd>
				<MudTd DataLabel="PO Id">@context.poCode</MudTd>
				<MudTd DataLabel="Supplier">@context.vendorName</MudTd>
				<MudTd DataLabel="Quantity">@context.quatity</MudTd>
				<MudTd DataLabel="Amount">@context.totalAmount</MudTd>
				<MudTd DataLabel="Status">@context.poStatus</MudTd>
				<MudTd DataLabel="Status Updated On">@context.statusUpdateDate</MudTd>
				<MudTd DataLabel="Action">
					<MudIconButton Icon="@Icons.Filled.RemoveRedEye" Color="Color.Warning" aria-label="View Details" OnClick="() => OpenPOListDetailsDialog(context.poCode)" />
					<MudIconButton Icon="@Icons.Filled.Edit" Color="Color.Success" aria-label="Edit" />
				</MudTd>
			</RowTemplate>
			<PagerContent>
				<MudTablePager />
			</PagerContent>
		</MudTable>

		<div class="d-flex flex-wrap mt-4">
			<MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
			<MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
			<MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
			<MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
			<MudSpacer />
		</div>
	</MudContainer>
</MudPaper>

@code {
	// Filter Class
	public POFilterPoco filterInput = new POFilterPoco();

	// PO List
	public List<POListPoco> poList = new List<POListPoco>();

	// Table Editor
	private bool dense { get; set; }
	private bool bordered { get; set; }
	private bool hover { get; set; }
	private bool striped { get; set; }

	// Serach Term
	private string searchTerm { get; set; }

	protected override async Task OnInitializedAsync()
	{
		poList = await _order.GetPoList();
		await GetVendors();
	}

	// Search Function
	private bool FilterCycleCheck(POListPoco item)
	{
        if (item.poCode.ToLower().Contains(searchTerm.ToLower()) || item.vendorName.ToLower().Contains(searchTerm.ToLower()) || item.poStatus.ToLower().Contains(searchTerm.ToLower()))
        {
            return true;
        }
        return false;
    }

	// Status Modal
    private void OpenStatusDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = false, FullWidth=true, CloseButton=true };
        DialogService.Show<POListUpdateStatusModal>("Change Status", options);
    }

	// Suppliers
	private string[] Suppliers;

	private async Task GetVendors()
    {
        Suppliers = await _vendor.GetVendorsNameAsString();
    }

	// Autocomplite Search Func
    private async Task<IEnumerable<string>> SupplierSearch(string value)
    {
        return string.IsNullOrEmpty(value) ? Suppliers : Suppliers.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

	// PO List Details Modal
    private void OpenPOListDetailsDialog(string poCode)
    {
	    var parameters = new DialogParameters { ["poCode"]=poCode };
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth=true, CloseButton=true, MaxWidth=MaxWidth.Large };
        DialogService.Show<PODetailsModal>("", parameters,options);
    }
	

}
