@using Carnesia.Domain.Dashboard.CustomerProfile
@using Carnesia.Domain.Common.POCO

<MudPaper Class="pa-16 ma-2">
	<MudContainer Fixed="true">
		<MudGrid Class="justify-center">
			<MudItem sm="3">
				<MudTextField @bind-Value="phoneNumber" Label="Phone Number" Variant="Variant.Text" />
			</MudItem>
			<MudItem sm="3">
				<MudTextField @bind-Value="customerId" Label="Phone Number" Variant="Variant.Text" />
			</MudItem>
		</MudGrid>
		<MudGrid Class="justify-center mb-5">
			<MudItem sm="6" Class="d-flex justify-end">
				<MudButton Color="Color.Primary" Variant="Variant.Filled">Filter</MudButton>
			</MudItem>
		</MudGrid>

		<MudTable Items="@Elements" Dense="@tableCommon.Dense" Hover="@tableCommon.Hover" Bordered="@tableCommon.Bordered" Striped="@tableCommon.Striped">
            <HeaderContent>
                <MudTh>Registration Date</MudTh>
                <MudTh>Customer ID</MudTh>
                <MudTh>Membership ID</MudTh>
                <MudTh>Customer Name</MudTh>
                <MudTh>Phone Number</MudTh>
                <MudTh>Adress</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Registration Date">@context.registerDate</MudTd>
                <MudTd DataLabel="Customer ID">@context.customerId</MudTd>
                <MudTd DataLabel="Membership ID">@context.membershipId</MudTd>
                <MudTd DataLabel="Customer Name">@context.customerName</MudTd>
                <MudTd DataLabel="Phone Number">@context.phoneNumber</MudTd>
                <MudTd DataLabel="Adress">@context.address</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

        <div class="d-flex flex-wrap mt-4">
            <MudSwitch @bind-Checked="@tableCommon.Hover" Color="Color.Primary">Hover</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Dense" Color="Color.Secondary">Dense</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Striped" Color="Color.Tertiary">Striped</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Bordered" Color="Color.Warning">Bordered</MudSwitch>
        </div>
	</MudContainer>
</MudPaper>

@code {
	// Filter Ref
	private string phoneNumber { get; set; }
	private string customerId { get; set; }

	// Table Customaization
    private TableCommon tableCommon = new TableCommon();

    // Table Content
    private IEnumerable<CustomerProfileDTO> Elements = new List<CustomerProfileDTO>(); 
}
