@using Carnesia.Domain.CMS.UnderCarouselBanner
@inject IBase64 _base64

<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                    <MudTextField @bind-Value="FormData.bannerName" Label="Banner Name" Required="true" RequiredError="Banner Name is required!"/>
                    <MudTextField @bind-Value="FormData.url" Label="URL" Required="true" RequiredError="URL is required!"/>

                    <MudSelect @bind-Value="FormData.bannerPlacement" Label="Placement" AnchorOrigin="Origin.BottomCenter" Required="true" RequiredError="Placement is required!">
                        <MudSelectItem Value="@("Top")" />
                        <MudSelectItem Value="@("Bottom")" />
                    </MudSelect>

                    <InputFile id="banner-image" OnChange="@ValidateImage" hidden accept=".webp" />
                    <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.CloudUpload" for="banner-image" Class="mt-5" Required="true">
                        Upload Banner Images
                    </MudButton>
                    <MudText Class="mt-1">950 * 240(.webp only. Max 200Kb)</MudText>

                    <br/>
                    <MudText Color="Color.Error">@ImageError</MudText>
                    <MudImage Src="@($"data:image/webp;base64,{ImageSRC}")" Alt="" Elevation="25" Class="rounded-lg mt-5" Style="width:20%" />

                    <div class="d-flex justify-end my-5">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" OnClick="CreateBanner" Class="ml-auto">Submit</MudButton>
                    </div>
            </MudForm>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public AddUnderCarouselBannerDTO FormData{get;set;} = new AddUnderCarouselBannerDTO();

    // Form Ref
    bool success;
    string[] errors = { };
    MudForm form;

    // Image SRC
    private string ImageSRC { get; set; }

    // Image Error
    private string ImageError { get; set; }

    // Image Validation
    private async Task ValidateImage(InputFileChangeEventArgs ImageFile)
    {
        ImageError = String.Empty;
        try
        {
            ImageSRC = await _base64.ConvertToBase64(204000, 950, 240, ImageFile);
            FormData.base64Attch = await _base64.ConvertToBase64(204000, 950, 240, ImageFile);
        }
        catch(Exception e)
        {
            ImageError = e.Message;
        }
    }

    // Submit Close
    void Submit() => MudDialog.Close(DialogResult.Ok<AddUnderCarouselBannerDTO>(FormData));

    // Create Banner
    private void CreateBanner()
    {
        if (String.IsNullOrEmpty(FormData.base64Attch))
        {
            ImageError = "Please upload an image!";
            return;
        }

        Submit(); 
    }

}
