@using Carnesia.Domain.HRM.FleetManagement.CourierList
@using Carnesia.Domain.Common.POCO
@inject IDialogService DialogService

<MudPaper Class="px-16 pb-16 pt-10 ma-2 mt-10">
	<MudContainer Fixed="true">
		<div class="mb-5">
			<MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.Add" Color="Color.Info" OnClick="OpenAddModal">Add New Courier</MudButton>
		</div>

		<MudTable RowsPerPage="25" Items="@Elements" Dense="@tableCommon.Dense" Hover="@tableCommon.Hover" Bordered="@tableCommon.Bordered" Striped="@tableCommon.Striped">
            <ToolBarContent>
                <MudSpacer />
                <MudSpacer />
                <MudTextField @bind-Value="tableCommon.SearchTerm" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"                   Class="mt-0"/>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Enlist Date</MudTh>
                <MudTh>Courier Name</MudTh>
                <MudTh>Business KAM</MudTh>
                <MudTh>Business KAM Contact</MudTh>
                <MudTh>Operation KAM</MudTh>
                <MudTh>Operation KAM Contact</MudTh>
                <MudTh>Action</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Enlist Date">@context.EnlistDate</MudTd>
                <MudTd DataLabel="Courier Name">@context.CourierName</MudTd>
                <MudTd DataLabel="Business KAM">@context.BusinessKAM</MudTd>
                <MudTd DataLabel="Business KAM Contact">@context.BusinessKAMContact</MudTd>
                <MudTd DataLabel="Operation KAM">@context.OperationKAM</MudTd>
                <MudTd DataLabel="Operation KAM Contact">@context.OperationKAMContact</MudTd>
                <MudTd DataLabel="Action">
                    <MudButton Variant="Variant.Filled" Color="Color.Warning">Edit</MudButton>
                    @if(context.Active)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Error">Deactive</MudButton>
                    }
                    else if (!context.Active)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Success">Reactive</MudButton>
                    }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

        <div class="d-flex flex-wrap mt-4">
            <MudSwitch @bind-Checked="@tableCommon.Hover" Color="Color.Primary">Hover</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Dense" Color="Color.Secondary">Dense</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Striped" Color="Color.Tertiary">Striped</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Bordered" Color="Color.Warning">Bordered</MudSwitch>
        </div>
	</MudContainer>
</MudPaper>

@code {
	// Table Customaization
	private TableCommon tableCommon = new TableCommon();

	// Table Content
	private IEnumerable<CourierListDTO> Elements = new List<CourierListDTO>();

    // Add Modal
    private void OpenAddModal()
    {
		var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        DialogService.Show<AddModal>("Add New Courier", options);
    }

    // Edit Modal
    private void OpenEditModal()
    {
		var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        DialogService.Show<EditModal>("Edit Courier", options);
    }
}
