@using Carnesia.Application.WMS.PutAway.Poco
@using Carnesia.Domain.WMS.TrackUID
@inject IPutAway _away
@inject ISnackbar _snackbar

<MudPaper Class="px-16 pb-16 pt-10 ma-2 mt-10">
	<MudContainer Fixed="true">
		<MudGrid Class="justify-center align-baseline mb-5">
			<MudItem md="3">
				<MudTextField Label="UID" @bind-Value="UID" Variant="Variant.Text" Immediate="true" OnKeyPress="UidEnter" />
			</MudItem>
			<MudItem md="3">
				<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="TrackUIDHistory">Filter</MudButton>
			</MudItem>
		</MudGrid>

		@if (!String.IsNullOrEmpty(Elements.image))
		{
			<MudImage Src="@($"https://cscpguide.com/{Elements.image}")" Alt="product Image" Elevation="25" Class="rounded-lg mt-3" />
		}

		<MudGrid>
			<MudItem md="6">
				<MudList Clickable="false">
					<MudListItem>UID: @Elements.uid</MudListItem>
					<MudDivider />
					<MudListItem>SKU: @Elements.sku</MudListItem>
					<MudDivider />
					<MudListItem>ProductCode: @Elements.productCode</MudListItem>
					<MudDivider />
					<MudListItem>Product Name: @Elements.productName</MudListItem>
					<MudDivider />
					<MudListItem>Expiry: @Elements.expDate</MudListItem>
					<MudDivider />
					<MudListItem>Age: @Elements.age Days</MudListItem>
				</MudList>
			</MudItem>
			<MudItem md="6">
				<MudImage Src="" Alt="" Elevation="25" Class="rounded-lg"/>
			</MudItem>
		</MudGrid>

		<MudTable Items="@Elements.trackUIDs" Hover="true">
			<HeaderContent>
				<MudTh>PO ID</MudTh>
				<MudTh>Order ID</MudTh>
				<MudTh>TO ID</MudTh>
				<MudTh>Picklist ID</MudTh>
				<MudTh>BIN</MudTh>
				<MudTh>Last Status</MudTh>
				<MudTh>Status Updated By</MudTh>
				<MudTh>Status Updated Date</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="PO ID">@context.poCode</MudTd>
				<MudTd DataLabel="Order ID">@context.orderCode</MudTd>
				<MudTd DataLabel="TO ID">@context.toCode</MudTd>
				<MudTd DataLabel="Picklist ID">@context.pickListCode</MudTd>
				<MudTd DataLabel="BIN">@context.binId</MudTd>
				<MudTd DataLabel="Last Status">@context.status</MudTd>
				<MudTd DataLabel="Status Updated by">@context.createdBy</MudTd>
				<MudTd DataLabel="Status Updated on">@context.createdAt</MudTd>
				
			</RowTemplate>
		</MudTable>

		<div class="d-flex justify-end mt-5">
			<MudButton Variant="Variant.Filled" Color="Color.Primary">Print</MudButton>
		</div>
	</MudContainer>
</MudPaper>

@code {
	// Table Content
	private UIDHistoryPoco Elements = new UIDHistoryPoco();
	public string UID { get; set; }

	private async Task TrackUIDHistory()
	{
		try
		{
			var result =await _away.GetUIDHistory(UID);
			if(result!=null)
			{
				Elements = result;
				UID = String.Empty;
			}
			else
			{
				_snackbar.Add("UID not found");
			}
		}catch
		{
			_snackbar.Add("UID not found");
		}
	}

	// Enter Bin
    private async Task UidEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (!String.IsNullOrEmpty(UID) && UID.Length == 15)
            {
                await TrackUIDHistory();
            }
        }
    }
}
