@using Carnesia.Domain.WMS.TrackUID

<MudPaper Class="px-16 pb-16 pt-10 ma-2 mt-10">
	<MudContainer Fixed="true">
		<MudGrid Class="justify-center">
			<MudItem md="4">
				<MudTextField T="string" Label="UID" Variant="Variant.Text"/>
			</MudItem>
			<MudItem md="4">
				<MudButton Variant="Variant.Filled" Color="Color.Primary">Filter</MudButton>
			</MudItem>
		</MudGrid>

		<MudGrid>
			<MudItem md="6">
				<MudList Clickable="false">
					<MudListItem>UID: 456787</MudListItem>
					<MudDivider />
					<MudListItem>SKU: 9087684848484</MudListItem>
					<MudDivider />
					<MudListItem>Product Name: Product Name Shade 1</MudListItem>
					<MudDivider />
					<MudListItem>Expiry: 12-Mar-2023</MudListItem>
					<MudDivider />
					<MudListItem>Age: 45 Days</MudListItem>
				</MudList>
			</MudItem>
			<MudItem md="6">
				<MudImage Src="" Alt="" Elevation="25" Class="rounded-lg"/>
			</MudItem>
		</MudGrid>

		<MudTable Items="@Elements" Hover="true">
			<HeaderContent>
				<MudTh>PO ID</MudTh>
				<MudTh>Order ID</MudTh>
				<MudTh>TO ID</MudTh>
				<MudTh>Picklist ID</MudTh>
				<MudTh>BIN</MudTh>
				<MudTh>Last Status</MudTh>
				<MudTh>Status Updated by</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="PO ID">@context.POID</MudTd>
				<MudTd DataLabel="Order ID">@context.OrderID</MudTd>
				<MudTd DataLabel="TO ID">@context.TOID</MudTd>
				<MudTd DataLabel="Picklist ID">@context.PickListID</MudTd>
				<MudTd DataLabel="BIN">@context.BIN</MudTd>
				<MudTd DataLabel="Last Status">@context.LastStatus</MudTd>
				<MudTd DataLabel="Status Updated on">@context.StatusUpdateDate</MudTd>
				<MudTd DataLabel="Status Updated by">@context.StatusUpdatedBy</MudTd>
			</RowTemplate>
		</MudTable>

		<div class="d-flex justify-end">
			<MudButton Variant="Variant.Filled" Color="Color.Primary">Print</MudButton>
		</div>
	</MudContainer>
</MudPaper>

@code {
	// Table Content
	private IEnumerable<TrackUIDDTO> Elements = new List<TrackUIDDTO>();
}
