@using Carnesia.Domain.HRM.FleetManagement.DeliveryArea
@using Carnesia.Domain.Common.POCO
@inject IDialogService DialogService

<MudPaper Class="px-16 pb-16 pt-10 ma-2 mt-10">
	<MudContainer Fixed>
		<div class="mb-5">
			<MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.Add" Color="Color.Info" OnClick="OpenAddModal">Add New Area</MudButton>
			<MudButton Variant="Variant.Outlined" Color="Color.Secondary">Upload CSV</MudButton>
		</div>

		<MudTable RowsPerPage="25" Items="@Elements" Dense="@tableCommon.Dense" Hover="@tableCommon.Hover" Bordered="@tableCommon.Bordered" Striped="@tableCommon.Striped">
            <ToolBarContent>
                <MudSpacer />
                <MudSpacer />
                <MudTextField @bind-Value="tableCommon.SearchTerm" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"                   Class="mt-0"/>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Division</MudTh>
                <MudTh>District</MudTh>
                <MudTh>Area/Thana</MudTh>
                <MudTh>Zone</MudTh>
                <MudTh>Zone Number</MudTh>
                <MudTh>Section</MudTh>
                <MudTh>Action</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Division">@context.Division</MudTd>
                <MudTd DataLabel="District">@context.District</MudTd>
                <MudTd DataLabel="Area/Thana">@context.Thana</MudTd>
                <MudTd DataLabel="Zone">@context.Zone</MudTd>
                <MudTd DataLabel="Zone Number">@context.ZoneNumber</MudTd>
                <MudTd DataLabel="Section">@context.Section</MudTd>
                <MudTd DataLabel="Action">
                    <MudButton Variant="Variant.Filled" Color="Color.Warning">Edit</MudButton>
			        <MudButton Variant="Variant.Filled" Color="Color.Error">Delete</MudButton>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

        <div class="d-flex flex-wrap mt-4">
            <MudSwitch @bind-Checked="@tableCommon.Hover" Color="Color.Primary">Hover</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Dense" Color="Color.Secondary">Dense</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Striped" Color="Color.Tertiary">Striped</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Bordered" Color="Color.Warning">Bordered</MudSwitch>
        </div>
	</MudContainer>
</MudPaper>

@code {
	// Table Customaization
	private TableCommon tableCommon = new TableCommon();

	// Table Content
	private IEnumerable<DeliveryAreaDTO> Elements = new List<DeliveryAreaDTO>();

    // Add Modal
    private void OpenAddModal()
    {
		var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        DialogService.Show<AddEditModal>("Add Delivery Area", options);
    }

    // Edit Modal
    private void OpenEditModal()
    {
		var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        DialogService.Show<AddEditModal>("Edit Delivery Area", options);
    }
    
    // Delete Modal
    private void OpenDeleteModal()
    {
		var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        DialogService.Show<DeleteConfirmationModal>("Delete", options);
    }
}
