@page "/campaign-list"

@using Carnesia.Domain.CMS.Campaign
@using Carnesia.Domain.Common.POCO
@using Carnesia.Shared.CommonComponents
@inject ICampaignList _campaign
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject IDialogService DialogService

<MudPaper Class="pa-16 ma-2">
	<MudContainer Fixed="true">
		<div class="d-flex justify-end mb-5">
			<MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.Add" OnClick="NavigateToCreateCampaign" >Add New Campaign</MudButton>
		</div>

		<MudTable Items="@Elements" Dense="@tableCommon.Dense" Hover="@tableCommon.Hover" Bordered="@tableCommon.Bordered" Striped="@tableCommon.Striped" Filter="new Func<CampaignDTO,bool>(FilterFuncInitial)" >
            <ToolBarContent>
                <MudSpacer />
                <MudSpacer />
                <MudTextField Immediate="true" @bind-Value="tableCommon.SearchTerm" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"                   Class="mt-0"/>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Campaign Name</MudTh>
                <MudTh>Platform</MudTh>
                <MudTh>Start Date</MudTh>
                <MudTh>End Date</MudTh>
                <MudTh>Image</MudTh>
                <MudTh>Publish</MudTh>
                <MudTh>Home</MudTh>
                <MudTh>Action</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Campaign Name">@context.campaignName</MudTd>
                <MudTd DataLabel="Platform">@context.platformType</MudTd>
                <MudTd DataLabel="Start Date">@context.startDate</MudTd>
                <MudTd DataLabel="End Date">@context.endDate</MudTd>
                <MudTd DataLabel="Image">
                    <MudImage @onclick="() => ShowImage(context.imageWebUrl)" Src="@($"https://carnesiaapi.bespokeit.io/{context.imageWebUrl}")" Alt="@context.campaignName" Elevation="25" Class="rounded-lg" Style="width:100px" />
                </MudTd>
                <MudTd DataLabel="Publish">
                    <MudSwitch @bind-Checked="@context.isPublish" Color="Color.Primary" @onclick="(() => TogglePublish(context.id))"/>
                </MudTd>
                <MudTd DataLabel="Home">
                    <MudSwitch @bind-Checked="@context.isHome" Color="Color.Primary" @onclick="(() => ToggleHome(context.id))"/>
                </MudTd>
                <MudTd DataLabel="Action">
                    <MudButton Variant="Variant.Filled" Color="Color.Warning" OnClick="() => NavigateToUpdate(context.id)">Edit</MudButton>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

        <div class="d-flex flex-wrap mt-4">
            <MudSwitch @bind-Checked="@tableCommon.Hover" Color="Color.Primary">Hover</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Dense" Color="Color.Secondary">Dense</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Striped" Color="Color.Tertiary">Striped</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Bordered" Color="Color.Warning">Bordered</MudSwitch>
        </div>
	</MudContainer>
</MudPaper>

@code {
    // Page On Load
    protected override async Task OnInitializedAsync()
    {
        await GetCampaigns();
    }

    // Table Customaization
    private TableCommon tableCommon = new TableCommon();

    // Table Content
    private IEnumerable<CampaignDTO> Elements = new List<CampaignDTO>();

    // Get Campaigns
    private async Task GetCampaigns()
    {
        Elements = await _campaign.GetCampaigns();
    }

    // Toggle Publish
    private async Task TogglePublish(int id)
    {
        try
        {

            await _campaign.Publishtoggle(id);
            Snackbar.Add("Published Changed!", Severity.Success);
        }
        catch (Exception)
        {
            Snackbar.Add("Something Went Wrong!", Severity.Error);
            throw;
        }
    }

    // Toggle Home
    private async Task ToggleHome(int id)
    {
        try
        {
            var result = await _campaign.ToggleHomePlacement(id);

            if (result)
            {
                Snackbar.Add("Campaign Toggled Successfully!", Severity.Success);
                await GetCampaigns();
                return;
            }
            Snackbar.Add("Something Went Wrong!", Severity.Error);
        }
        catch (Exception)
        {
            Snackbar.Add("Something Went Wrong!", Severity.Error);
            throw;
        }
    }

    // Navigate To Create Campaign
    private void NavigateToCreateCampaign()
    {
        NavigationManager.NavigateTo("create-campaign");
    }

    // Navigate To Campaign Update 
    private void NavigateToUpdate(int id)
    {
        NavigationManager.NavigateTo($"update-campaign/{id}");
    }

    // Table Search
    private bool FilterFuncInitial(CampaignDTO element) => FilterFunc(element, tableCommon.SearchTerm);

    private bool FilterFunc(CampaignDTO element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.campaignName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.platformType.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    // Show Image
    private void ShowImage(string url)
    {
        var parameters = new DialogParameters();
        parameters.Add("ImageUrl", url);

        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        DialogService.Show<ShowImageModal>("Image", parameters, options);
    }
}
