@page "/bulk-parent-product"
@using Carnesia.Domain.CMS.ParentProduct
@inject IParentProduct _parentProduct

<MudPaper Class="ma-2 pa-16">
	<MudContainer Fixed="true">
		<div class="d-flex justify-center mb-5">
            <a href="./BulkParentProducts.xlsx" download target="_top">
			    <MudButton Class="me-3" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowDownward" Style="background-color: yellowgreen; color: white;">
                    Download CSV Template
                </MudButton>
            </a>

			<InputFile id="fileInput" hidden accept=".xlsx" OnChange="UploadFile"/>
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Filled.CloudUpload"
                       for="fileInput">
                Upload File
            </MudButton>
		</div>

        <MudTable Items="@Products">
            <HeaderContent>
                <MudTh>Product Name</MudTh>
                <MudTh>Brand ID</MudTh>
                <MudTh>Product Type</MudTh>
                <MudTh>Origin</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Product Name">@context.name</MudTd>
                <MudTd DataLabel="Brand ID">@context.brandId</MudTd>
                <MudTd DataLabel="Product Type">@context.productType</MudTd>
                <MudTd DataLabel="Origin">@context.originId</MudTd>
            </RowTemplate>
        </MudTable>

        <div class="d-flex justify-end mt-5">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="Products.Count <= 0 ? true : false">Submit</MudButton>
        </div>
	</MudContainer>
</MudPaper>

@code {
    // Parent Product List
    private List<CreateParentProductDTO> Products = new List<CreateParentProductDTO>();

    // Upload .xlsx
    private async Task UploadFile (InputFileChangeEventArgs e)
    {
        try
        {
            Products.Clear();
            Products =  await _parentProduct.UploadXLSXFile(e);
        }
        catch (Exception)
        {
            Console.WriteLine("Error!");
            throw;
        }
    }
}
