@using Carnesia.Domain.CMS.GifBanner
@inject IBase64 _base64

<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                    <MudTextField @bind-Value="FormData.name" Label="Banner Name" Required="true" RequiredError="Banner Name is required!"/>
                    <MudTextField @bind-Value="FormData.url" Label="URL" Required="true" RequiredError="URL is required!"/>
                    <MudTextField @bind-Value="FormData.description" Lines="5" Label="Description" Required="true" RequiredError="Description is required!"/>

                    <InputFile id="banner-image" OnChange="@ValidateImage" hidden accept=".webp, .gif" />
                    <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.CloudUpload" for="banner-image" Class="mt-5" Required="true">
                        Upload Banner Image
                    </MudButton>
                    <MudText Class="mt-1">1200 * 80(.webp only. Max 100Kb)</MudText>

                    <br/>
                    <MudText Color="Color.Error">@ImageError</MudText>
                    <MudImage Src="@($"data:{FormData.extension};base64,{ImageSRC}")" Alt="" Elevation="25" Class="rounded-lg mt-5" Style="width:20%" />

                    <div class="d-flex justify-end my-5">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" OnClick="CreateBanner" Class="ml-auto">Submit</MudButton>
                    </div>
            </MudForm>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public AddGifBannerDTO FormData{get;set;} = new AddGifBannerDTO();

    // Form Ref
    bool success;
    string[] errors = { };
    MudForm form;

    // Image SRC
    private string ImageSRC { get; set; }

    // Image Error
    private string ImageError { get; set; }

    // Image Validation
    private async Task ValidateImage(InputFileChangeEventArgs ImageFile)
    {
        ImageError = String.Empty;
        try
        {
            var file = ImageFile.File;
            FormData.extension = file.ContentType;

            ImageSRC = await _base64.ConvertToBase64(102000, 1200, 80, ImageFile);
            FormData.base64Attch = await _base64.ConvertToBase64(102000, 1200, 80, ImageFile);

        }
        catch(Exception e)
        {
            ImageError = e.Message;
        }
    }

    // Submit Close
    void Submit() => MudDialog.Close(DialogResult.Ok<AddGifBannerDTO>(FormData));

    // Create Banner
    private void CreateBanner()
    {
        if (String.IsNullOrEmpty(FormData.base64Attch))
        {
            ImageError = "Please upload an image!";
            return;
        }

        Submit(); 
    }

}
