@page "/order-details"
@using Carnesia.Domain.OMS.OrderDetails
@using Carnesia.Domain.OMS.PendingOrder
@using Carnesia.Shared.OMS.OrderDetails
@using Carnesia.Domain.OMS.AssignDelivery.Dispatch
@inject IAssignOrder _assignOrder
@inject IPendingOrder _pendingOrder
@inject IDialogService DialogService

<MudPaper Class="px-16 pb-16 pt-10 ma-10">
	<MudContainer Fixed="true">
		<MudGrid Class="align-baseline mb-5">
			<MudItem lg="3" md="6">
				<MudTextField @bind-Value="Filter.trnCode" Label="Order Id" Variant="Variant.Text"/>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudDatePicker Label="Order Date From" @bind-Date="Filter.fromOrderDate"/>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudDatePicker Label="Order Date To" @bind-Date="Filter.fromOrderDate"/>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudDatePicker Label="Packing Date From" @bind-Date="Filter.fromPackingDate"/>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudDatePicker Label="Packing Date To" @bind-Date="Filter.toPackingDate"/>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudDatePicker Label="Dispatch Date From" @bind-Date="Filter.fromDispatchDate"/>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudDatePicker Label="Dispatch Date To" @bind-Date="Filter.toDispatchDate"/>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudSelect @bind-Value="Filter.sortBy" Label="Sort by Date" AnchorOrigin="Origin.BottomCenter">
					<MudSelectItem Value="@("Newest to Oldes")" />
					<MudSelectItem Value="@("Oldest to Newest")" />
				</MudSelect>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudTextField @bind-Value="Filter.sku" Label="SKU" Variant="Variant.Text"/>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudTextField @bind-Value="Filter.productName" Label="Product Name" Variant="Variant.Text"/>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudSelect @bind-Value="Filter.shippingArea" Label="Shipping Area" AnchorOrigin="Origin.BottomCenter">
					<MudSelectItem Value="@("Inside Dhaka")" />
					<MudSelectItem Value="@("Dhaka Suburb")" />
					<MudSelectItem Value="@("Outside Dhaka")" />
				</MudSelect>
			</MudItem>
			@*<MudItem lg="3" md="6">
				<MudAutocomplete T="string" Label="Zone" ResetValueOnEmptyText="true" />
			</MudItem>*@
			@*<MudItem lg="3" md="6">
				<MudSelect T="string" Label="Order type" AnchorOrigin="Origin.BottomCenter">
					<MudSelectItem Value="@("Regular")" />
					<MudSelectItem Value="@("Achomka")" />
					<MudSelectItem Value="@("Big Sale")" />
				</MudSelect>
			</MudItem>*@
			<MudItem lg="3" md="6">
				<MudSelect @bind-Value="Filter.source" Label="Order Source" AnchorOrigin="Origin.BottomCenter">
					<MudSelectItem Value="@("FB")" />
					<MudSelectItem Value="@("Web")" />
					<MudSelectItem Value="@("App")" />
					<MudSelectItem Value="@("Admin")" />
				</MudSelect>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudTextField @bind-Value="Filter.customerName" Label="Customer Name" Variant="Variant.Text"/>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudTextField @bind-Value="Filter.phoneNumber" Label="Phone Number" Variant="Variant.Text"/>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudSelect @bind-Value="Filter.courierId" Label="Courier" AnchorOrigin="Origin.BottomCenter">
					<MudSelectItem Value="0">Select Courier</MudSelectItem>
					@foreach (var item in Couriers)
					{
						<MudSelectItem Value="item.id">@item.name</MudSelectItem>
					}
				</MudSelect>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudSelect @bind-Value="Filter.statusId" Label="Status" AnchorOrigin="Origin.BottomCenter">
					<MudSelectItem Value="0" >Select Status</MudSelectItem>
					<MudSelectItem Value="26" >Pending</MudSelectItem>
					<MudSelectItem Value="13" >CA Assigned</MudSelectItem>
					<MudSelectItem Value="15" >Cancelled</MudSelectItem>
					<MudSelectItem Value="29" >Verified</MudSelectItem>
					@*<MudSelectItem Value="@("Awaiting Pickup")" >Awaiting Pickup</MudSelectItem>*@
					@*<MudSelectItem Value="@("Packed")" >Packed</MudSelectItem>*@
					@*<MudSelectItem Value="@("Awaiting Dispatch")" >Awaiting Dispatch</MudSelectItem>*@
					@*<MudSelectItem Value="@("Dispatched")" >Dispatched</MudSelectItem>*@
					<MudSelectItem Value="23" >Delivered</MudSelectItem>
					<MudSelectItem Value="16" >Returned</MudSelectItem>
				</MudSelect>
			</MudItem>
			<MudItem lg="3" md="6">
				<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetOrderDetails">Filter</MudButton>
				@*<MudButton Variant="Variant.Filled" Color="Color.Warning">Clear Filter</MudButton>*@
			</MudItem>
		</MudGrid>

		@*<MudGrid Class="justify-center align-baseline mb-4">
			<MudItem md="3">
				<MudSelect T="string" Label="Section" AnchorOrigin="Origin.BottomCenter">
					<MudSelectItem Value="@("All")" />
					<MudSelectItem Value="@("Delivery")" />
					<MudSelectItem Value="@("Return")" />
					<MudSelectItem Value="@("Cancellation")" />
				</MudSelect>
			</MudItem>
			<MudItem md="3">
				<MudSelect T="string" Label="Download Type" AnchorOrigin="Origin.BottomCenter">
					<MudSelectItem Value="@("With SKU")" />
					<MudSelectItem Value="@("Only Order")" />
				</MudSelect>
			</MudItem>
			<MudItem md="3">
				<MudButton Variant="Variant.Filled" Color="Color.Success">Download CSV</MudButton>
			</MudItem>
		</MudGrid>*@

		<MudTable Items="@Elements" Hover="true" Striped="true" Bordered="true" Dense="true" Loading="Loading" LoadingProgressColor="Color.Info">
			<HeaderContent>
				<MudTh></MudTh>
				<MudTh>Tracking</MudTh>
				<MudTh>Order ID</MudTh>
				<MudTh>Order Date</MudTh>
				<MudTh>Amount</MudTh>
				<MudTh>Payment Method</MudTh>
				<MudTh>Payment Status</MudTh>
				<MudTh>To Be Collected</MudTh>
				<MudTh>Customer Name</MudTh>
				<MudTh>Phone Number</MudTh>
				<MudTh>Address</MudTh>
				<MudTh>Verified On</MudTh>
				<MudTh>Dispatched On</MudTh>
				<MudTh>Status</MudTh>
				@*<MudTh>Hub</MudTh>
				<MudTh>Run Number</MudTh>
				<MudTh>Last Updated On</MudTh>*@
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="">
					@if (!context.ShowDetails)
					{
						<MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="Show" OnClick="() => ShowBtnPress(context.orderId)" />
					}
					else if (context.ShowDetails)
					{
						<MudIconButton Icon="@Icons.Filled.Minimize" aria-label="Hide" OnClick="() => ShowBtnPress(context.orderId)" />
					}
				</MudTd>
				<MudTd DataLabel="Tracking">@context.trackingCode</MudTd>
				<MudTd DataLabel="Order ID">@context.trnCode</MudTd>
				<MudTd DataLabel="Order Date">@context.orderDate</MudTd>
				<MudTd DataLabel="Amount">@context.amount</MudTd>
				<MudTd DataLabel="Payment Method">@context.paymentMethod</MudTd>
				<MudTd DataLabel="Payment Status">@context.paymentStatus</MudTd>
				<MudTd DataLabel="To Be Collected">@context.tobeCollected</MudTd>
				<MudTd DataLabel="Customer Name">@context.customerName</MudTd>
				<MudTd DataLabel="Phone Number">@context.phoneNumber</MudTd>
				<MudTd DataLabel="Address">@context.address</MudTd>
				<MudTd DataLabel="Verified On">@context.verifiedDate</MudTd>
				<MudTd DataLabel="Dispatched On">@context.dispatchDate</MudTd>
				<MudTd DataLabel="Status">@context.status</MudTd>
				@*<MudTd DataLabel="Hub">@context.HUB</MudTd>*@
				@*<MudTd DataLabel="Run Number">@context.ru</MudTd>*@
				@*<MudTd DataLabel="Last Updated On">@context.up</MudTd>*@
			</RowTemplate>
			<ChildRowContent>
				@if (context.ShowDetails)
				{
					<td colspan="14">
						<MudCard Elevation="0">
							<MudCardContent Class="pa-0">
								<MudTable Items="@context.products.orderProducts" Context="DetailsContext" Dense="true" Striped="true" Hover="true" Elevation="0" CustomFooter="true">
									<HeaderContent>
										<MudTh>SKU</MudTh>
										<MudTh>Product Name</MudTh>
										<MudTh>Quantity</MudTh>
										<MudTh>Price</MudTh>
										<MudTh>Amount</MudTh>
									</HeaderContent>
									<RowTemplate>
										<MudTd DataLabel="SKU">@DetailsContext.sku</MudTd>
										<MudTd DataLabel="Product Name">@DetailsContext.productName</MudTd>
										<MudTd DataLabel="Quantity">@DetailsContext.quantity</MudTd>
										<MudTd DataLabel="Price">@DetailsContext.mrp</MudTd>
										<MudTd DataLabel="Amount">@DetailsContext.totalMrp</MudTd>
									</RowTemplate>
									<FooterContent>
										<MudTFootRow>
											<MudTd colspan="4" Style="text-align: end;">Total:</MudTd>
											<MudTd colspan="1" Style="text-align: end;">@context.products.total</MudTd>
										</MudTFootRow>
										<MudTFootRow>
											<MudTd colspan="4" Style="text-align: end;">Discount:</MudTd>
											<MudTd colspan="1" Style="text-align: end;">@context.products.discount</MudTd>
										</MudTFootRow>
										<MudTFootRow>
											<MudTd colspan="4" Style="text-align: end;">Shipping Price:</MudTd>
											<MudTd colspan="1" Style="text-align: end;">@context.products.shippingPrice</MudTd>
										</MudTFootRow>
										<MudTFootRow>
											<MudTd colspan="4" Style="text-align: end; font-weight: 600;">Grand Total:</MudTd>
											<MudTd colspan="1" Style="text-align: end; font-weight: 600;">@context.products.grandTotal</MudTd>
										</MudTFootRow>
									</FooterContent>
								</MudTable>
							</MudCardContent>
						</MudCard>
					</td>
				}
			</ChildRowContent>
			<PagerContent>
				<MudTablePager />
			</PagerContent>
		</MudTable>
	</MudContainer>
</MudPaper>

@code {
	// Page On Load
	protected override async Task OnInitializedAsync()
	{
		await GetCouriers();
	}

	// Loading
	private bool Loading { get; set; }

	// Order Details Filter
	private OrderDetailsFilterDTO Filter = new OrderDetailsFilterDTO();

	// Table Content
	private List<PendingOrderDTO> Elements = new List<PendingOrderDTO>();

	// Courier List
	private List<CourierDTO> Couriers = new List<CourierDTO>();

	// Get Couriers
	private async Task GetCouriers()
	{
		Couriers = await _assignOrder.GetCouriers();
	}

	// Get Order Details
	private async Task GetOrderDetails()
	{
		Loading = true;
		try
		{
			Elements = await _pendingOrder.GetOrderDetails(Filter);
			Loading = false;
		}
		catch(Exception e)
		{
			Console.WriteLine(e.Message);
			Loading = false;
		}
	}

	// Show Details
	private void ShowBtnPress(int orderId)
	{
		PendingOrderDTO tmpElements = Elements.First(f => f.orderId == orderId);
		tmpElements.ShowDetails = !tmpElements.ShowDetails;
	}

	// Modal
	private void OpenTrackingDialog()
    {
		var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Large, FullWidth=true, CloseButton=true  };
        DialogService.Show<TrackingModal>("", options);
    }
}
