@using Carnesia.Domain.WMS.BinInscan
@inject IPutAway _away
@inject ISnackbar _snackbar

<MudPaper Class="px-16 pb-16 pt-10 ma-2 mt-10">
	<MudContainer Fixed="true">
		<div class="mb-15 border-2 ms-auto me-auto" style="width: fit-content;">
            <MudText Class="px-15 py-2" Typo="Typo.h6">Bin Inscan</MudText>
        </div>
		<MudGrid Class="justify-center align-baseline mb-5">
			<MudItem md="3">
				<MudTextField T="string" Label="Bin Number" @bind-Value="BinNumber" Variant="Variant.Text"/>
			</MudItem>
			<MudItem md="3">
				<MudTextField T="string" Label="UID" @bind-Value="UID" Variant="Variant.Text"/>
			</MudItem>
			<MudItem md="3">
				<MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.Add" Color="Color.Primary" OnClick="AddSingleBinScan">Add</MudButton>
			</MudItem>
		</MudGrid>

		<MudTable Items="@SingleBin" Hover="true">
			<HeaderContent>
				<MudTh>Item Code</MudTh>
				<MudTh>Product Name</MudTh>
				<MudTh>Input QTY</MudTh>
				<MudTh>BIN</MudTh>
				<MudTh>Image</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="Item Code">@context.sku</MudTd>
				<MudTd DataLabel="Product Name">@context.productName</MudTd>
				<MudTd DataLabel="Input QTY">@context.inputQty</MudTd>
				<MudTd DataLabel="BIN">@context.bin</MudTd>
				<MudTd DataLabel="Image">
					<MudImage Src="@context.url" Width="50" Height="50" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg"/>
				</MudTd>
			</RowTemplate>
		</MudTable>

		<div class="mt-5 d-flex justify-end">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Submit</MudButton>
        </div>
	</MudContainer>
</MudPaper>

<MudPaper Class="px-16 pb-16 pt-10 ma-2 mt-10">
	<MudContainer Fixed="true">
		<div class="mb-15 border-2 ms-auto me-auto" style="width: fit-content;">
            <MudText Class="px-15 py-2" Typo="Typo.h6">Bulk Bin Inscan</MudText>
        </div>

		<MudGrid Class="justify-center align-baseline mb-5">
			<MudItem md="4">
				<MudTextField T="string" Label="Bin Number" Variant="Variant.Text"/>
			</MudItem>
			<MudItem md="4">
				<MudTextField T="string" Label="PO ID" Variant="Variant.Text"/>
			</MudItem>
			<MudItem md="4">
				<MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.Add" Color="Color.Primary" >Add</MudButton>
			</MudItem>
		</MudGrid>

		<MudTable Items="@BulkBin" Hover="true">
			<HeaderContent>
				<MudTh>Item Code</MudTh>
				<MudTh>Product Name</MudTh>
				<MudTh>Input QTY</MudTh>
				<MudTh>BIN</MudTh>
				<MudTh>Image</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="Item Code">@context.sku</MudTd>
				<MudTd DataLabel="Product Name">@context.productName</MudTd>
				<MudTd DataLabel="Input QTY">@context.inputQty</MudTd>
				<MudTd DataLabel="BIN">@context.bin</MudTd>
				<MudTd DataLabel="Image">
					<MudImage Src="@context.url"  Width="50" Height="50" Alt="Product Image" Elevation="25" Class="rounded-lg"/>
				</MudTd>
			</RowTemplate>
		</MudTable>

		<div class="mt-5 d-flex justify-end">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Bulk Submit</MudButton>
        </div>
	</MudContainer>
</MudPaper>

@code {
	public string BinNumber { get; set; }
	public string UID { get; set; }
	// Table Content
	private IEnumerable<BinInscanDTO> SingleBin = new List<BinInscanDTO>();
	private IEnumerable<BinInscanDTO> BulkBin = new List<BinInscanDTO>();

	private async Task AddSingleBinScan()
	{
		try
		{
			_snackbar.Add("clicked");
		    var result = _away.SingleBinInscan(UID,BinNumber);
		}
		catch(Exception e)
		{
			throw;
		}

	}

}
