@using Carnesia.Domain.CMS.ToBagList
@inject IBase64 _base64
@inject IToBag _toBag

<MudDialog>
	<DialogContent>
		<MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
			<MudTextField @bind-Value="FormData.name" Label="To Bage Name" Required="true" RequiredError="To Bage Name is required!" />
			<MudTextField @bind-Value="FormData.link" Label="Link" Required="true" RequiredError="Link is required!" />

			<InputFile id="banner-image" OnChange="@ValidateImage" hidden accept=".webp" />
			<MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.CloudUpload" for="banner-image" Class="mt-5" Required="true">
				Upload Thumb Image
			</MudButton>

			@if (FormData.alignment == "12*1")
			{
				<MudText>100 * 100(.webp only. Max 50Kb.)</MudText>
			}
			else if (FormData.alignment == "8*1")
			{
				<MudText>100 * 100(.webp only. Max 50Kb.)</MudText>
			}
			else
			{
				<MudText>600 * 420(.webp only. Max 100Kb.)</MudText>
			}


			<br />
			<MudText Color="Color.Error">@ImageError</MudText>
			<MudImage Src="@($"data:image/webp;base64,{FormData.base64Attach}")" Alt="" Elevation="25" Class="rounded-lg mt-5" Style="width:20%" />

			<div class="d-flex justify-end my-5">
				<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" OnClick="AddToBag" Class="ml-auto">Submit</MudButton>
			</div>
		</MudForm>
	</DialogContent>
</MudDialog>

@code {
	// Page On Load
	protected override async Task OnInitializedAsync()
	{
		await GetToBag();
	}

	[CascadingParameter] MudDialogInstance MudDialog { get; set; }

	[Parameter]
	public UpdateHomeSectionThumbDTO FormData { get; set; } = new UpdateHomeSectionThumbDTO();


	// Get Thumb
	private async Task GetToBag()
	{
		FormData = await _toBag.GetSingleThumb(FormData.id);
	}

	// Form Ref
	bool success;
	string[] errors = { };
	MudForm form;

	// Image Error
	private string ImageError { get; set; }

	// Image Validation
	private async Task ValidateImage(InputFileChangeEventArgs ImageFile)
	{
		ImageError = String.Empty;
		try
		{
			if (FormData.alignment == "12*1")
			{
				FormData.base64Attach = await _base64.ConvertToBase64(51200, 100, 100, ImageFile);
			}
			if (FormData.alignment == "8*1")
			{
				FormData.base64Attach = await _base64.ConvertToBase64(51200, 100, 100, ImageFile);
			}
			else
			{
				FormData.base64Attach = await _base64.ConvertToBase64(102400, 600, 420, ImageFile);
			}

		}
		catch (Exception e)
		{
			ImageError = e.Message;
		}
	}

	// Submit Close
	void Submit() => MudDialog.Close(DialogResult.Ok<UpdateHomeSectionThumbDTO>(FormData));

	// Create Banner
	private void AddToBag()
	{
		if (String.IsNullOrEmpty(FormData.base64Attach))
		{
			ImageError = "Please upload an image!";
			return;
		}

		Submit();
	}
}
