@using Carnesia.Domain.WMS.PO.POCO
@using Carnesia.Domain.Common.POCO
@using Carnesia.Shared.CommonComponents
@using Carnesia.Domain.WMS.PO.Models.Awaiting
@inject IDialogService DialogService
@inject IPurchaseOrder _order
@inject ISnackbar snackbar

<MudPaper Class="ma-2 py-16 px-3" Elevation="1">
	<MudContainer Fixed="true">
		<MudGrid Class="justify-center align-baseline">
			<MudItem md="3">
				<MudTextField @bind-Value="POID" Label="PO ID" Variant="Variant.Text" />
			</MudItem>
			<MudItem md="3">
				<div>
					<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetPoByPocode">Filter</MudButton>
				</div>
			</MudItem>
		</MudGrid>

		<MudTable RowsPerPage="25" Loading="loadingBar" Class="mt-10" Items="@awaitingPos" Dense="@tableCommon.Dense" Hover="@tableCommon.Hover" Bordered="@tableCommon.Bordered" Striped="@tableCommon.Striped">
			<HeaderContent>
				<MudTh>Date</MudTh>
				<MudTh>PO ID</MudTh>
				<MudTh>Supplier</MudTh>
				<MudTh>Quantity</MudTh>
				<MudTh>Value</MudTh>
				<MudTh>Action</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="Date">@context.orderDate</MudTd>
				<MudTd DataLabel="PO Id">@context.poCode</MudTd>
				<MudTd DataLabel="Supplier">@context.vendorName</MudTd>
				<MudTd DataLabel="Quantity">@context.poQuantity</MudTd>
				<MudTd DataLabel="Amount">@context.totalAmount</MudTd>
				<MudTd DataLabel="Action">
					<MudIconButton Icon="@Icons.Filled.RemoveRedEye" Color="Color.Warning" aria-label="View Details" OnClick="() => OpenPOListDetailsDialog(context.poCode)" />
					<MudIconButton Icon="@Icons.Filled.Check" Color="Color.Success" aria-label="Approve" OnClick="() => ChangePoStatus(context.poCode)" />
				</MudTd>
			</RowTemplate>
			<PagerContent>
				<MudTablePager />
			</PagerContent>
		</MudTable>

		<div class="d-flex flex-wrap mt-4">
            <MudSwitch @bind-Checked="@tableCommon.Hover" Color="Color.Primary">Hover</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Dense" Color="Color.Secondary">Dense</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Striped" Color="Color.Tertiary">Striped</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Bordered" Color="Color.Warning">Bordered</MudSwitch>
        </div>
	</MudContainer>
</MudPaper>

@code {
	// Filter
	private string POID { get; set; }
	

	// Table Loading BAr
	private bool loadingBar { get; set; } = true;

    // Table Customaization
    private TableCommon tableCommon = new TableCommon();

	// Search Term
	private string SearchTerm { get; set; }

	// Table Content
	private List<AwaitingPo> awaitingPos = new List<AwaitingPo>();
	protected override async Task OnInitializedAsync()
	{
		awaitingPos = await _order.AwaitingPo();
		loadingBar = false;
	}
	private async Task GetPoByPocode()
	{
		awaitingPos.Clear();
		awaitingPos = await _order.AwaitingPoByPoCode(POID);
	}
	private async Task ChangePoStatus(string poCode)
	{
		var result = await _order.PoApprove(poCode);
		snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopEnd;
		awaitingPos.Clear();
		awaitingPos = await _order.AwaitingPo();
		snackbar.Add(result.Message, Severity.Success);
	}

	// Search Function
	private bool FilterCycleCheck(AwaitingPo item)
	{
        if (item.poCode.ToLower().Contains(SearchTerm.ToLower()) || item.vendorName.ToLower().Contains(SearchTerm.ToLower()))
        {
            return true;
        }
        return false;
    }

	// PO List Details Modal
    private void OpenPOListDetailsDialog(string poCode)
    {
	    var parameters = new DialogParameters { ["poCode"]=poCode };
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth=true, CloseButton=true, MaxWidth=MaxWidth.Large };
        DialogService.Show<POListDetails>("", parameters,options);
    }
}