@using Carnesia.Domain.CMS.Category
@inject IBase64 _base64


<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                    <MudTextField @bind-Value="FormData.parentCat" Label="Category Name" Required="true" RequiredError="Category Name is required!"/>

                    <InputFile id="category-image" OnChange="@ValidateImage" hidden accept=".webp" />
                    <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.CloudUpload" for="category-image" Class="mt-5">
                        Upload Category Images
                    </MudButton>
                    <MudText>100 * 100(.webp only. Max 50Kb)</MudText>

                    <br/>
                    <MudText Color="Color.Error">@ImageError</MudText>
                    <MudImage Src="@($"data:image/webp;base64,{ImageSRC}")" Alt="" Elevation="25" Class="rounded-lg mt-5" Style="width:20%" />

                    <div class="d-flex justify-end my-5">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" OnClick="CreateParentCategory" Class="ml-auto">Submit</MudButton>
                    </div>
            </MudForm>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public CreateParentCatDTO FormData{get;set;} = new CreateParentCatDTO();

    // Clear Input File
    private bool ShowInputFile { get; set; } = false;

    // Image SRC
    private string ImageSRC { get; set; }

    // Image Error
    private string ImageError { get; set; }

    // Image Validation
    private async Task ValidateImage(InputFileChangeEventArgs ImageFile)
    {
        ImageError = String.Empty;
        try
        {
            ImageSRC = await _base64.ConvertToBase64(51200, 100, 100, ImageFile);
            FormData.base64Attch = await _base64.ConvertToBase64(51200, 100, 100, ImageFile);
        }
        catch(Exception e)
        {
            ImageError = e.Message;
        }
    }

    // Submit Close
    void Submit() => MudDialog.Close(DialogResult.Ok<CreateParentCatDTO>(FormData));


    // Create Category
    private void CreateParentCategory()
    {
        if (String.IsNullOrEmpty(FormData.base64Attch))
        {
            ImageError = "Please upload a image!";
            return;
        }

        Submit(); 
    }

    // Form Ref
    bool success;
    string[] errors = { };
    MudForm form;
}
