@using Carnesia.Domain.Common.POCO
@using Carnesia.Domain.WMS.AssignCarrier;
@using Carnesia.Domain.WMS.InTransit
@inject IManageTo _manageTo


<MudPaper Class="px-3 py-16 ma-2">
	<MudContainer Fixed="true">
		<MudGrid Class="justify-center align-baseline mb-5">
			<MudItem md="3">
				<MudTextField @bind-Value="Filter.toCode" Label="Scan TO" Variant="Variant.Text"/>
			</MudItem>
			<MudItem md="3">
				<MudSelect @bind-Value="Filter.status" Label="Status" AnchorOrigin="Origin.BottomCenter">
					<MudSelectItem Value="0" >All</MudSelectItem>
					<MudSelectItem Value="28" >In Delivery</MudSelectItem>
					<MudSelectItem Value="23" >Delivered</MudSelectItem>
					@*<MudSelectItem Value="@("Lost")" />*@
					
				</MudSelect>
			</MudItem>
			<MudItem md="3">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetCarriers">Filter</MudButton>
			</MudItem>
		</MudGrid>

		<MudTable RowsPerPage="25" Items="@Elements" Dense="@tableCommon.Dense" Hover="@tableCommon.Hover" Bordered="@tableCommon.Bordered" Striped="@tableCommon.Striped">
            <HeaderContent>
                <MudTh>Created on</MudTh>
                <MudTh>TO ID</MudTh>
                <MudTh>Source Warehouse</MudTh>
                <MudTh>Destination Warehouse</MudTh>
                <MudTh>Attemted by</MudTh>
                <MudTh>Status</MudTh>
                <MudTh>Status Updated on</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Created on">@context.createdOn</MudTd>
                <MudTd DataLabel="TO ID">@context.toCode</MudTd>
                <MudTd DataLabel="Source Warehouse">@context.sourceWarehouse</MudTd>
                <MudTd DataLabel="Destination Warehouse">@context.destinationWarehouse</MudTd>
                <MudTd DataLabel="Attemted by">@context.attemtedBy</MudTd>
                <MudTd DataLabel="Status">@context.status</MudTd>
                <MudTd DataLabel="Status Updated on">@context.statusUpdatedOn</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

        <div class="d-flex flex-wrap mt-4">
            <MudSwitch @bind-Checked="@tableCommon.Hover" Color="Color.Primary">Hover</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Dense" Color="Color.Secondary">Dense</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Striped" Color="Color.Tertiary">Striped</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Bordered" Color="Color.Warning">Bordered</MudSwitch>
        </div>
	</MudContainer>
</MudPaper>

@code {
    // Table Customization
    private TableCommon tableCommon = new TableCommon();

    // Loading
    private bool Loading { get; set; }

    // Table Content
    private List<AssignCarrierDTO> Elements = new List<AssignCarrierDTO>();

    // Filter
    private AssignCarrierFilterDTO Filter = new AssignCarrierFilterDTO();

    // Get Carriers
    private async Task GetCarriers()
    {
        Loading = true;
        try
        {
            Elements = await _manageTo.GetCarriers(Filter);
            Loading = false;
        }
        catch (Exception e)
        {

            Loading = false;
            Console.WriteLine(e.Message);
        }
    }
}
