@layout PrintLayout
@page "/polist-details-print/{poCode}"

@using Carnesia.Domain.WMS.PO.POCO
@using Carnesia.Domain.Common.POCO
@using Carnesia.Domain.WMS.PO.Models
@using Carnesia.Domain.WMS.PO.ViewModels.Awaiting
@inject ISnackbar Snackbar
@inject IPurchaseOrder _order

    <MudContainer Fixed="true">
        <MudList Clickable="true">
        <MudListItem><MudText Typo="Typo.h4">PO ID: @poCode</MudText></MudListItem>
        <MudListItem>Created On: @awaitingPoVm.orderDate</MudListItem>
        <MudListItem>Supplier: @awaitingPoVm.vendorName</MudListItem>
        <MudListItem>Receiving Warehouse: @awaitingPoVm.rcvStoreName</MudListItem>
        <MudListItem>Arriving Time: @awaitingPoVm.rcvDate</MudListItem>
    </MudList>

    <MudTable Striped="true" Bordered="true" Elevation="0" Class="mt-5" Items="@awaitingPoVm.products" Dense="@true">
@*        <ToolBarContent>
            <MudText Typo="Typo.h6">PO List Details</MudText>
            <MudSpacer />
        </ToolBarContent>*@
        <HeaderContent>
            <MudTh>SKU Code</MudTh>
            <MudTh>Product Name</MudTh>
            <MudTh>PO Quantity</MudTh>
            <MudTh>Lifting Price</MudTh>
            <MudTh>Value</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="SKU Code">@context.sku</MudTd>
            <MudTd DataLabel="Name">@context.productName</MudTd>
            <MudTd DataLabel="PO Quantity">@context.poQuantity</MudTd>
            <MudTd DataLabel="Lifting Price">@context.liftingPrice</MudTd>
            <MudTd DataLabel="Value">@context.TotalPrice</MudTd>
        </RowTemplate>
    </MudTable>

    <MudList Clickable="true">
        <MudListItem>Total Quantity: @awaitingPoVm.totalQty</MudListItem>
        <MudListItem>Total Value: @awaitingPoVm.totalValue</MudListItem>
    </MudList>

    <div class="d-flex no-print justify-end mt-5">
        <button onclick="window.print()">Print</button>
    </div>
    </MudContainer>

@code {
    [Parameter]
    public string poCode { get; set; }

    public AwaitingPoDetails awaitingPoVm = new AwaitingPoDetails();

    protected override async Task OnInitializedAsync()
    {
        awaitingPoVm = await _order.AwaitingPoDetails(poCode);
    }
}
