@layout PrintLabel
@page "/polist-details-print/{poCode}"


@using Carnesia.Domain.WMS.PO.POCO
@using Carnesia.Domain.Common.POCO
@using Carnesia.Domain.WMS.PO.Models
@using Carnesia.Domain.WMS.PO.ViewModels.Awaiting
@inject ISnackbar Snackbar
@inject IPurchaseOrder _order


<body>
    @*@poCode*@
</body>
@*<MudPaper Class="pa-16 ma-2">
	<MudContainer Fixed="true">
	    <MudPaper Width="400px" Square="true">
            <MudList Clickable="true">
                <MudListItem><MudText Typo="Typo.h4">PO ID: @poCode</MudText></MudListItem>
                <MudDivider />
                <MudListItem>Created On: @awaitingPoVm.orderDate</MudListItem>
                <MudDivider />
                <MudListItem>Supplier: @awaitingPoVm.vendorName</MudListItem>
                <MudDivider />
                <MudListItem>Receiving Warehouse: @awaitingPoVm.rcvStoreName</MudListItem>
                <MudDivider />
                <MudListItem>Arriving Time: @awaitingPoVm.rcvDate</MudListItem>
            </MudList>
        </MudPaper>

        <MudTable Items="@awaitingPoVm.products" Dense="@true">
            <ToolBarContent>
                <MudText Typo="Typo.h6">PO List Details</MudText>
                <MudSpacer />
            </ToolBarContent>
            <HeaderContent>
                <MudTh>SKU Code</MudTh>
                <MudTh>Product Name</MudTh>
                <MudTh>PO Quantity</MudTh>
                <MudTh>Lifting Price</MudTh>
                <MudTh>Value</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="SKU Code">@context.sku</MudTd>
                <MudTd DataLabel="Name">@context.productName</MudTd>
                <MudTd DataLabel="PO Quantity">@context.quantity</MudTd>
                <MudTd DataLabel="Lifting Price">@context.liftingPrice</MudTd>
                <MudTd DataLabel="Value">@context.TotalPrice</MudTd>
            </RowTemplate>
        </MudTable>

        <MudGrid>
            <MudItem md="6">
                <MudPaper Width="400px" Square="true" Class="mt-10">
                    <MudList Clickable="true">
                        <MudListItem>Total Quantity: @awaitingPoVm.totalQty</MudListItem>
                        <MudDivider/>
                        <MudListItem>Total Value: @awaitingPoVm.totalValue</MudListItem>
                    </MudList>
                </MudPaper>
            </MudItem>
        </MudGrid>

        <div class="d-flex no-print justify-end mt-5">
            <button onclick="window.print()">Print</button>
        </div>
	</MudContainer>
</MudPaper>*@

@code {
    //[Parameter]
    //public string poCode { get; set; }

    public AwaitingPoDetails awaitingPoVm = new AwaitingPoDetails();

    //protected override async Task OnInitializedAsync()
    //{
    //    awaitingPoVm = await _order.AwaitingPoDetails(poCode);
    //}
}
