@layout PrintLayout
@page "/print-label/{expId:int}/{selectStyle}"
@using Carnesia.Domain.WMS.PO.POCO
@using Carnesia.Shared.WMS.Print.PO.PrintLabel
@using Syncfusion.Blazor
@using Syncfusion.Blazor.BarcodeGenerator
@inject HttpClient httpClient


<div style="width: 3.5in; margin: 0 auto;">

	@if (uidLength > 0)
	{
		@for (var i = 0; i < uidLength; i = i + 2)
		{
			<div class="print-label-parent break-page">
				@if(selectStyle == "Style1")
				{
					if(uidLength % 2 != 0){}
					<PrintLabelStyleOne productId="@Uids.productCode" sku="@Uids.sku" expDate="@Uids.expDate" uidData="@Uids.uid[i]" />
					<PrintLabelStyleOne productId="@Uids.productCode" sku="@Uids.sku" expDate="@Uids.expDate" uidData="@Uids.uid[i + 1]" />
				}
				else if(selectStyle == "Style2")
				{
					<PrintLabelStyleTwo expDate="@Uids.expDate" vendor="@Uids.vendor" addOne="@Uids.addressOne" addTwo="@Uids.addressTwo" mrp="@Uids.mrp" uidData="@Uids.uid[i]" />
					<PrintLabelStyleTwo expDate="@Uids.expDate" vendor="@Uids.vendor" addOne="@Uids.addressOne" addTwo="@Uids.addressTwo" mrp="@Uids.mrp" uidData="@Uids.uid[i + 1]" />
				}else if(selectStyle == "Style3")
				{
					<PrintLabelStyleThree vendor="@Uids.vendor" addOne="@Uids.addressOne" addTwo="@Uids.addressTwo" mrp="@Uids.mrp" uidData="@Uids.uid[i]" />
					<PrintLabelStyleThree vendor="@Uids.vendor" addOne="@Uids.addressOne" addTwo="@Uids.addressTwo" mrp="@Uids.mrp" uidData="@Uids.uid[i + 1]" />
				}else if(selectStyle == "Style4")
				{
					<PrintLabelStyleFour productId="@Uids.productCode" sku="@Uids.sku" uidData="@Uids.uid[i]" />
					<PrintLabelStyleFour productId="@Uids.productCode" sku="@Uids.sku" uidData="@Uids.uid[i + 1]" />
				}else if(selectStyle == "Style5")
				{
					<PrintLabelStyleFive expDate="@Uids.expDate" vendor="@Uids.vendor" addOne="@Uids.addressOne" addTwo="@Uids.addressTwo" mrp="@Uids.mrp" uidData="@Uids.uid[i]" />
					<PrintLabelStyleFive expDate="@Uids.expDate" vendor="@Uids.vendor" addOne="@Uids.addressOne" addTwo="@Uids.addressTwo" mrp="@Uids.mrp" uidData="@Uids.uid[i + 1]" />
				}else if(selectStyle == "Style6")
				{
					<PrintLabelStyleSix vendor="@Uids.vendor" addOne="@Uids.addressOne" addTwo="@Uids.addressTwo" mrp="@Uids.mrp" uidData="@Uids.uid[i]" />
					<PrintLabelStyleSix vendor="@Uids.vendor" addOne="@Uids.addressOne" addTwo="@Uids.addressTwo" mrp="@Uids.mrp" uidData="@Uids.uid[i + 1]" />
				}else if(selectStyle == "Style7")
				{
					<PrintLabelStyleSeven expDate="@Uids.expDate" vendor="@Uids.vendor" addOne="@Uids.addressOne" addTwo="@Uids.addressTwo" uidData="@Uids.uid[i]" />
					<PrintLabelStyleSeven expDate="@Uids.expDate" vendor="@Uids.vendor" addOne="@Uids.addressOne" addTwo="@Uids.addressTwo" uidData="@Uids.uid[i + 1]" />
				}
			</div>
		}
	}
</div>

@code {
	// URL Parameters
	[Parameter] public string selectStyle { get; set; }
	[Parameter] public int expId { get; set; }

	// Uid Length
	private int uidLength { get; set; }

	private UIDProfileDTO Uids= new UIDProfileDTO();

	protected override async Task OnInitializedAsync()
	{
		await GetUID();
		await AddOne();
		uidLength = Uids.uid.Count;
	}
	private async Task GetUID()
	{
		Uids = await httpClient.GetFromJsonAsync<UIDProfileDTO>($"PurchaseOrders/getuids/{expId}");
	}

	private async Task AddOne()
	{
		if (Uids.uid.Count % 2 != 0)
		{
			var tempUid = new UIDDataPoco()
				{
					id = 404,
					isDelivered = false,
					uidCode = "test",
					profileCode = "test"
				};

			Uids.uid.Add(tempUid);
		}
	}
}
