@using Carnesia.Domain.WMS.POReport

<MudPaper Class="px-16 pb-16 pt-10 ma-2 mt-10">
    <MudContainer Fixed="true">
        <MudGrid Class="justify-center align-baseline mb-5">
            <MudItem lg="3" md="6">
                <MudAutocomplete T="string" Label="Warehouse" ResetValueOnEmptyText="true" />
            </MudItem>
            <MudItem lg="3" md="6">
                <MudTextField T="string" Label="PO ID" Variant="Variant.Text" />
            </MudItem>
            <MudItem lg="3" md="6">
                <MudDatePicker Label="PO From Date" />
            </MudItem>
            <MudItem lg="3" md="6">
                <MudDatePicker Label="PO To Date" />
            </MudItem>

            <MudItem lg="3" md="6">
                <MudDatePicker Label="Receiving From Date" />
            </MudItem>
            <MudItem lg="3" md="6">
                <MudDatePicker Label="Receiving To Date" />
            </MudItem>
            <MudItem lg="3" md="6">
                <MudTextField T="string" Label="SKU" Variant="Variant.Text" />
            </MudItem>
            <MudItem lg="3" md="6">
                <MudTextField T="string" Label="Product Code" Variant="Variant.Text" />
            </MudItem>
            <MudItem lg="3" md="6">
                <MudTextField T="string" Label="Word" Variant="Variant.Text" />
            </MudItem>
            <MudItem sm="3">
                <MudSelect T="string" Label="Supplier" AnchorOrigin="Origin.BottomCenter">

                </MudSelect>
            </MudItem>
        </MudGrid>

        <div class="my-5 d-flex justify-end">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Filter</MudButton>
        </div>

        <div class="d-flex justify-end mb-5">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Download CSV</MudButton>
        </div>

        <MudTable Items="@Elements" Hover="true">
            <HeaderContent>
                <MudTh>Creation Date</MudTh>
                <MudTh>Supplier</MudTh>
                <MudTh>PO ID</MudTh>
                <MudTh>Receiving Warehouse</MudTh>
                <MudTh>SKU</MudTh>
                <MudTh>Product Code</MudTh>
                <MudTh>Product Name</MudTh>
                <MudTh>Lifting Price</MudTh>
                <MudTh>PO Qty</MudTh>
                <MudTh>Receiving Qty</MudTh>
                <MudTh>Received Value</MudTh>
                <MudTh>Not Arrived</MudTh>
                <MudTh>UID Generated</MudTh>
                <MudTh>UID Generate Left</MudTh>
                <MudTh>Inscan Complete</MudTh>
                <MudTh>Inscan Left</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Creation Date">@context.CreatedAt</MudTd>
                <MudTd DataLabel="Supplier">@context.SupplierName</MudTd>
                <MudTd DataLabel="PO ID">@context.POID</MudTd>
                <MudTd DataLabel="Receiving Warehouse">@context.ReceivingWH</MudTd>
                <MudTd DataLabel="SKU">@context.SKU</MudTd>
                <MudTd DataLabel="Product Code">@context.productCode</MudTd>
                <MudTd DataLabel="Product Name">@context.ProductName</MudTd>
                <MudTd DataLabel="Lifting Price">@context.LiftingPrice</MudTd>
                <MudTd DataLabel="PO Qty">@context.POQTY</MudTd>
                <MudTd DataLabel="Receiving Qty">@context.ReceivingQTY</MudTd>
                <MudTd DataLabel="Received Value">@context.ReceivedValue</MudTd>
                <MudTd DataLabel="Not Arrived">@context.notArrived</MudTd>
                <MudTd DataLabel="UID Generated">@context.uidGenerated</MudTd>
                <MudTd DataLabel="UID Generate Left">@context.uidGenerateLeft</MudTd>
                <MudTd DataLabel="Inscan Complete">@context.inscanComplete</MudTd>
                <MudTd DataLabel="Inscan Left">@context.inscanLeft</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudContainer>
</MudPaper>

@code {
    // Table Content
    private IEnumerable<POReportDTO> Elements = new List<POReportDTO>();
}
