@using Carnesia.Domain.CRM.Vouchers.UserVoucher.VoucherList
@using Carnesia.Domain.Common.POCO
@inject IUserVoucher _userVoucher
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<MudPaper Class="py-16 px-3 ma-2">
	<MudContainer Fixed="true">
		<MudTable Items="@Elements" Dense="@tableCommon.Dense" Hover="@tableCommon.Hover" Bordered="@tableCommon.Bordered" Striped="@tableCommon.Striped" Filter="new Func<UserVoucherListDTO,bool>(FilterFuncInitial)">
			<ToolBarContent>
				<MudSpacer />
				<MudSpacer />
				<MudTextField Immediate="true" @bind-Value="tableCommon.SearchTerm" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
			</ToolBarContent>
			<HeaderContent>
				<MudTh></MudTh>
				<MudTh>Code</MudTh>
				<MudTh>Start Date</MudTh>
				<MudTh>End Date</MudTh>
				<MudTh>Number of Voucher</MudTh>
				<MudTh>Number of Used Voucher</MudTh>
				<MudTh>Minimum Cart Amount</MudTh>
				<MudTh>Discount Type</MudTh>
				<MudTh>Discount Amount</MudTh>
				<MudTh>Up To</MudTh>
				<MudTh>Description</MudTh>
				<MudTh>Enable</MudTh>
				<MudTh>Action</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="">
					@if (!context.ShowDetails)
					{
						<MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="Show" OnClick="() => ShowUsers(context.userVId)" />
					}
					else if (context.ShowDetails)
					{
						<MudIconButton Icon="@Icons.Filled.Minimize" aria-label="Hide" OnClick="() => ShowUsers(context.userVId)" />
					}
				</MudTd>
				<MudTd DataLabel="Code">@context.uvCode</MudTd>
				<MudTd DataLabel="Start Date">@context.startDate</MudTd>
				<MudTd DataLabel="End Date">@context.endDate</MudTd>
				<MudTd DataLabel="End Date">@context.endDate</MudTd>
				<MudTd DataLabel="Number of Voucher">@context.numOfVoucher</MudTd>
				<MudTd DataLabel="Number of Used Voucher">@context.numberOfUsedVoucher</MudTd>
				<MudTd DataLabel="Discount Type">@context.voucherDiscType</MudTd>
				<MudTd DataLabel="Discount Amount">@context.discAmntOrPercent</MudTd>
				<MudTd DataLabel="Up To">@context.upToDiscAmnt</MudTd>
				<MudTd DataLabel="Description">@context.description</MudTd>
				<MudTd DataLabel="Enable">
					<MudSwitch @bind-Checked="@context.isEnable" Color="Color.Primary" @onclick="(() => ToggleEnable(context.userVId))"/>
				</MudTd>
				<MudTd DataLabel="Action">
					<MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="() => DeleteVoucher(context.userVId)">Delete</MudButton>
				</MudTd>
			</RowTemplate>
			<ChildRowContent>
				@if (context.ShowDetails)
				{
					<td colspan="12">
						<MudCard Elevation="0">
							<MudCardContent Class="pa-0">
								<MudTable Items="@context.customers" Bordered="true" Dense="true" Context="DetailsContext" Hover="true" Elevation="0">
									<HeaderContent>
										<MudTh>Name</MudTh>
										<MudTh>Phone Number</MudTh>
										<MudTh>Email</MudTh>
										<MudTh>Customer ID</MudTh>
										<MudTh>Used</MudTh>
									</HeaderContent>
									<RowTemplate>
										<MudTd DataLabel="Name">@DetailsContext.name</MudTd>
										<MudTd DataLabel="Phone Number">@DetailsContext.phoneNumber</MudTd>
										<MudTd DataLabel="Email">@DetailsContext.email</MudTd>
										<MudTd DataLabel="Customer ID">@DetailsContext.customerId</MudTd>
										<MudTd DataLabel="Used">@DetailsContext.isUsed</MudTd>
									</RowTemplate>
								</MudTable>
							</MudCardContent>
						</MudCard>
					</td>
				}
			</ChildRowContent>
			<PagerContent>
				<MudTablePager />
			</PagerContent>
		</MudTable>

		<div class="d-flex flex-wrap mt-4">
			<MudSwitch @bind-Checked="@tableCommon.Hover" Color="Color.Primary">Hover</MudSwitch>
			<MudSwitch @bind-Checked="@tableCommon.Dense" Color="Color.Secondary">Dense</MudSwitch>
			<MudSwitch @bind-Checked="@tableCommon.Striped" Color="Color.Tertiary">Striped</MudSwitch>
			<MudSwitch @bind-Checked="@tableCommon.Bordered" Color="Color.Warning">Bordered</MudSwitch>
		</div>
	</MudContainer>
</MudPaper>

@code {
	// Page On Load
	protected override async Task OnInitializedAsync()
	{
		await GetVouchers();
	}
	// Table Content
	private IEnumerable<UserVoucherListDTO> Elements = new List<UserVoucherListDTO>();

	// Table Customaization
	private TableCommon tableCommon = new TableCommon();

	// Get Vouchers
	private async Task GetVouchers()
	{
		Elements = await _userVoucher.GetAllVouchers();
	}

	// Delete Voucher
	private async Task DeleteVoucher(int id)
	{
		var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
		var dialog = await DialogService.Show<DeleteVoucherModal>("Delete Confirmation", options).Result;

		if (!dialog.Cancelled)
		{
			try
			{
				await _userVoucher.RemoveVoucher(id);
				Snackbar.Add("Voucher Deleted Successfully!", Severity.Success);
				await GetVouchers();
			}
			catch (Exception)
			{
				Snackbar.Add("Something Went Wrong!", Severity.Error);
				throw;
			}
		}
	}

	// Table Search
	private bool FilterFuncInitial(UserVoucherListDTO element) => FilterFunc(element, tableCommon.SearchTerm);

	private bool FilterFunc(UserVoucherListDTO element, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (element.uvCode.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		return false;
	}

	// Show Details
	private void ShowUsers(int id)
	{
		UserVoucherListDTO tmpElements = Elements.First(f => f.userVId == id);
		tmpElements.ShowDetails = !tmpElements.ShowDetails;
	}

	// Toggle Publish
    private async Task ToggleEnable(int id)
    {
        try
        {
            var result = await _userVoucher.ToggleUse(id);
            if (result)
            {
                Snackbar.Add("Published Changed!", Severity.Success);
                await GetVouchers();
                return;
            }
            Snackbar.Add("Something Went Wrong!", Severity.Error);
        }
        catch (Exception)
        {
            Snackbar.Add("Something Went Wrong!", Severity.Error);
            throw;
        }
    }
}
