@page "/return-acknowledgement"
@using Carnesia.Domain.WMS.ReturnManagement.POCO
@using Carnesia.Domain.Common.POCO

<MudPaper Class="px-3 py-16 ma-2">
	<MudContainer Fixed="true">
		<MudGrid Class="justify-center align-baseline mb-5">
			<MudItem md="3">
				<MudTextField T="string" Label="UID" Variant="Variant.Text"/>
			</MudItem>
			<MudItem md="3">
				<MudButton Variant="Variant.Filled" Color="Color.Primary">Add</MudButton>
			</MudItem>
		</MudGrid>

		<MudTable RowsPerPage="25" MultiSelection="true" @bind-SelectedItems="selectedItems" Items="@Elements" Dense="@tableCommon.Dense" Hover="@tableCommon.Hover" Bordered="@tableCommon.Bordered" Striped="@tableCommon.Striped">
            <ToolBarContent>
                <MudSpacer />
                <MudSpacer />
                <MudTextField @bind-Value="tableCommon.SearchTerm" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"/>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>SKU</MudTh>
                <MudTh>Product Name</MudTh>
                <MudTh>Image</MudTh>
                <MudTh>QTY.</MudTh>
                <MudTh>Missing QTY</MudTh>
                <MudTh>RCV. QTY</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="SKU">@context.SKU</MudTd>
                <MudTd DataLabel="Product Name">@context.ProductName</MudTd>
                <MudTd DataLabel="Image">
                    <MudImage Src="@context.Image" Alt="" Elevation="25" Class="rounded-lg"/>
                </MudTd>
                <MudTd DataLabel="QTY.">@context.QTY</MudTd>
                <MudTd DataLabel="Missing QTY">@context.MissingQTY</MudTd>
                <MudTd DataLabel="RCV. QTY">@context.RcvQTY</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

        <div class="d-flex flex-wrap mt-4">
            <MudSwitch @bind-Checked="@tableCommon.Hover" Color="Color.Primary">Hover</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Dense" Color="Color.Secondary">Dense</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Striped" Color="Color.Tertiary">Striped</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Bordered" Color="Color.Warning">Bordered</MudSwitch>
        </div>

        <div class="d-flex justify-end mt-5">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Receive & Print</MudButton>
        </div>
	</MudContainer>
</MudPaper>

@code {
	// Table Customization
	private TableCommon tableCommon = new TableCommon();

	// Table Content
	private IEnumerable<ReturnAcknowledgementPoco> Elements = new List<ReturnAcknowledgementPoco>();

    // Selected Item
    private HashSet<ReturnAcknowledgementPoco> selectedItems = new HashSet<ReturnAcknowledgementPoco>();
}
