@page "/full-width-banner"

@using Carnesia.Domain.CMS.FullWidthBanner
@using Carnesia.Domain.Common.POCO
@using Carnesia.Shared.CMS.FullWidthBanner
@using Carnesia.Shared.CommonComponents
@inject IFullWidthBanner _fullWidthBanner
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<MudPaper Class="ma-2 pa-16">
	<MudContainer Fixed="true">
		<div class="d-flex justify-end mb-5">
			<MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.Add" OnClick="OpenAddBannerModal" >Add New Banner</MudButton>
		</div>

		<MudTable Items="@Elements" Dense="@tableCommon.Dense" Hover="@tableCommon.Hover" Bordered="@tableCommon.Bordered" Striped="@tableCommon.Striped" Filter="new Func<FullWidthBannerDTO,bool>(FilterFuncInitial)">
			<ToolBarContent>
                <MudSpacer />
                <MudSpacer />
                <MudTextField Immediate="true" @bind-Value="tableCommon.SearchTerm" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"/>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Name</MudTh>
                <MudTh>Image</MudTh>
                <MudTh>URL</MudTh>
                <MudTh>Publish</MudTh>
                <MudTh>Action</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@context.bannerName</MudTd>
                <MudTd DataLabel="Image">
                    <MudImage @onclick="() => ShowImage(context.imageWebUrl)" Src="@($"https://localhost:7090/{context.imageWebUrl}")" Alt="@context.bannerName" Elevation="25" Class="rounded-lg" Style="width:50px" />
                </MudTd>
                <MudTd DataLabel="URL">@context.url</MudTd>
                <MudTd DataLabel="Publish">
                    <MudSwitch @bind-Checked="@context.isPublished" Color="Color.Primary" @onclick="(() => TogglePublish(context.id))"/>
                </MudTd>
                <MudTd DataLabel="Action">
                    <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="() => DeleteBanner(context.id)">Delete</MudButton>
                </MudTd>
            </RowTemplate>
			<PagerContent>
                <MudTablePager />
            </PagerContent>
		</MudTable>

		<div class="d-flex flex-wrap mt-4">
            <MudSwitch @bind-Checked="@tableCommon.Hover" Color="Color.Primary">Hover</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Dense" Color="Color.Secondary">Dense</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Striped" Color="Color.Tertiary">Striped</MudSwitch>
            <MudSwitch @bind-Checked="@tableCommon.Bordered" Color="Color.Warning">Bordered</MudSwitch>
        </div>
	</MudContainer>
</MudPaper>

@code {
    // Page On Load
    protected override async Task OnInitializedAsync()
    {
        await GetBanners();
    }



    // Table Customaization
    private TableCommon tableCommon = new TableCommon();

    // Table Content
    private IEnumerable<FullWidthBannerDTO> Elements = new List<FullWidthBannerDTO>();

    // Get Banners
    private async Task GetBanners()
    {
        Elements = await _fullWidthBanner.GetBanners();
    }

    // Toggle Publish
    private async Task TogglePublish(int id)
    {
        try
        {

            await _fullWidthBanner.PublishToggle(id);
            Snackbar.Add("Published Changed!", Severity.Success);
        }
        catch (Exception)
        {
            Snackbar.Add("Something Went Wrong!", Severity.Error);
            throw;
        }
    }

    // Add New Banner
    private async Task OpenAddBannerModal()
    {
        var parameters = new DialogParameters();
        parameters.Add("FormData", new CreateFullWidthBannerDTO());

        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        var dialog = await DialogService.Show<AddFullWidthBannerModal>("Add New Full Width Banner", parameters, options).Result;

        if (dialog.Data != null)
        {
            CreateFullWidthBannerDTO newBanner = dialog.Data as CreateFullWidthBannerDTO;

            try
            {
                await _fullWidthBanner.CreateBanner(newBanner);
                Snackbar.Add("New Banner Created Successfully!", Severity.Success);
                await GetBanners();
            }
            catch (Exception)
            {
                Snackbar.Add("Something Went Wrong!", Severity.Error);
                throw;
            }
        }
    }

    // Delete Banner
    private async Task DeleteBanner(int id)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        var dialog = await DialogService.Show<DeleteConfirmationModal>("Delete Confirmation", options).Result;

        if (!dialog.Cancelled)
        {
            try
            {
                await _fullWidthBanner.DeleteBanner(id);
                Snackbar.Add("Banner Deleted Successfully!", Severity.Success);
                await GetBanners();
            }
            catch (Exception)
            {
                Snackbar.Add("Something Went Wrong!", Severity.Error);
                throw;
            }
        }
    }

    // Table Search
    private bool FilterFuncInitial(FullWidthBannerDTO element) => FilterFunc(element, tableCommon.SearchTerm);

    private bool FilterFunc(FullWidthBannerDTO element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.bannerName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.url.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    // Show Image
    private void ShowImage(string url)
    {
        var parameters = new DialogParameters();
        parameters.Add("ImageUrl", url);

        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true, };
        DialogService.Show<ShowImageModal>("Image", parameters, options);
    }
}
